.btn {
  cursor: pointer;
  border-radius: 2px;
  height: 48px;
  padding: 12px;
  font-size: 16px;
  border: none;
  outline-color: transparent;
  &--color {
    color: white;
    width: 200px;
    background: #1AB0CE;
    font-weight: bold;
  }
  &--circle {
    top: -85px;
    position: absolute;
    right: 0;
    font-size: 14px;
    color: white;
    width: 108px;
    height: 108px;
    background: #1AB0CE;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
  }
  a {
    text-decoration: none;
  }
  &--empty {
    padding-left: 30px;
    text-align: center;
    color: #1AB0CE;
    background: #FFFFFF;
    border: 1px solid #1AB0CE;
    box-sizing: border-box;
    border-radius: 2px;
    text-decoration: none;
  }
}

